.box {
    width: 30%;
    height: 100px;
    margin: 1%;
    float: left;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#DIV1 { border-color: blue; }
#DIV2 { border-color: red; }
#DIV3 { border-color: green; }
#DIV4 { border-color: yellow; }
#DIV5 { border-color: purple; }
#DIV6 { border-color: orange; }
#DIV7 { border-color: pink; }
#DIV8 { border-color: brown; }
#DIV9 { border-color: black; }

